html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgb(0, 0, 0); /* Cor de fundo opcional */
  }
 
/* Estilização do contêiner do formulário */
.form-container {
    padding: center;
    width: 320px; /* Define a largura do contêiner */
    border-radius: 0.75rem; /* Adiciona cantos arredondados ao contêiner */
    background-color:  rgb(0, 0, 0); /* Define a cor de fundo */
    padding: 3rem; /* Adiciona espaçamento interno ao contêiner */
    color: rgba(243, 244, 246, 1); /* Define a cor do texto */
    border: 1px solid #9747FF;  /* Borda */
  }
  
  /* Estilização do título do formulário */
  .title {
    text-align: center; /* Centraliza o texto */
    font-size: 1.5rem; /* Define o tamanho da fonte */
    line-height: 2rem; /* Define a altura da linha */
    font-weight: 700; /* Define a espessura da fonte (negrito) */
  }
  
  /* Estilização geral do formulário */
  .form {
    margin-top: 1.5rem; /* Adiciona um espaçamento superior ao formulário */
  }
  
  /* Estilização dos grupos de entrada de dados */
  .input-group {
    width: 88%; /* Define o espaço disponível */
    margin-top: 0.30rem; /* Adiciona um pequeno espaçamento superior */
    font-size: 0.875rem; /* Define o tamanho da fonte para os grupos */
    line-height: 1.30rem; /* Define a altura da linha para os grupos */
    justify-content: center; /* Adicione esta linha para centralizar horizontalmente */
 }

  
 
  
  /* Estilização do botão "ok" */
  .alterada {
    display: block; /* Faz o botão ocupar toda a largura do contêiner */
    width: 100%; /* Preenche todo o espaço disponível horizontalmente */
    background-color: rgba(167, 139, 250, 1); /* Define a cor de fundo do botão */
    padding: 0.75rem; /* Adiciona espaçamento interno ao botão */
    text-align: center; /* Centraliza o texto no botão */
    color: rgba(17, 24, 39, 1); /* Define a cor do texto no botão */
    border: none; /* Remove a borda do botão */
    border-radius: 0.375rem; /* Adiciona cantos arredondados ao botão */
    font-weight: 600; /* Define a espessura da fonte (negrito) */
    margin-top: 20px; /* Aumente o valor da margem superior*/
  }

  .alterada:hover {
    background-color: #fff;
    color: #000; /* Mudar a cor de fundo e a cor do texto */
  }
  
