body {
    font-family: Arial, sans-serif; /* Define a fonte do texto do corpo da página */
}

.notifications {
    background-color: #f2f2f2; /* Define a cor de fundo da área de notificações */
    padding: 20px; /* Adiciona espaço interno para o conteúdo */
}

.notification {
    border: 1px solid #ddd; /* Adiciona uma borda ao redor de cada notificação */
    padding: 10px; /* Adiciona espaço interno para o conteúdo da notificação */
    margin: 10px 0; /* Define a margem vertical entre as notificações */
    background-color: #fff; /* Define a cor de fundo das notificações */
}

.notification .timestamp {
    font-size: 12px; /* Define o tamanho da fonte da data e hora */
    color: #010101; /* Define a cor do texto da data e hora */
}